.iframe {
    height: calc(100vh - 4rem);
    width: 100vw;
}

.iframeTop{
    position:absolute;
    top:10%;
    right:1rem;
    width:"10px";
    height:40px;
}


.buttonRight {
    position:fixed;
    right:1rem;
    width:"10px";
    height:40px;
    z-index: 10000;
}

.plot {
    position:absolute;
    width:"10px";
    height:40px;
    
}

.visInfoBox {
    position:absolute;
    top:10%;
    left:1rem;
    width:"10px";
    height:40px;
    
}

.cartoInfoBox {
    position:absolute;
    top:50%;
    right:2rem;
    width:"10px";
    height:40px;
}

.bg-semi-transparent{
    background-color: rgba(25, 37, 22, 0.7);
}