.iframe {
    height: calc(100vh - 4rem);
    width: 100vw;
}

.iframeTop{
    position:absolute;
    top:10%;
    right:5%;
    width:"10px";
    height:40px;
}


.buttonRight {
    position:absolute;
    right:5%;
    width:"10px";
    height:40px;
}

.plot {
    position:absolute;
    width:"10px";
    height:40px;
}